body {
  background-color: rgb(140, 135, 135);
}
div.card {
  color: black;
  background-color: white;
  box-shadow: 10px 5px 5px black;
}
li.list-group-item {
  background-color: white;
}
img.card-image-top {
  height: 500px;
  width: 500px;
  align-content: center;
  border: solid 1px black;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

div.card {
  border: solid 1px black;
 
}

  #PDF{
  height: 750px ;
  width: 60%;
  margin-left: 350px;
  margin-top: 1em;
  margin-bottom: 5em;
}
h1{
  display: flex;
  margin-left: auto;
    margin-top: 1em;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.btn.btn-outline-primary{
  display: flex;
  justify-content: center;
  width: 250px;
  margin-left: auto;
  margin-top: 1em;
  margin-right: auto;
  
}
#Resume{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.about_me {
  align-content: center;
  margin: auto;
  
}

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about_me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 2rem 0 1.5rem;
  }
}

/* =================== Media Queries (Small Devices) ============================= */

@media screen and (max-width: 600px) {
  .about_me {
    /* width: auto;
  height: auto; */
    /* width: 95%;
    height: 95%; */
    aspect-ratio: 1/1;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}

