body {
  background-color: rgb(140, 135, 135);
}
div.card {
  color: black;
  background-color: white;
}
li.list-group-item {
  background-color: white;
}
img.card-image-top {
  height: 500px;
  width: 500px;
  align-content: center;
  border: solid 1px black;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

div.card {
  border: solid 1px black;
}

  #PDF{
  height: 750px ;
  width: 60%;
  margin-left: 350px;
  margin-top: 1em;
  margin-bottom: 5em;
}
h1{
  display: flex;
  margin-left: auto;
    margin-top: 1em;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.btn.btn-outline-primary{
  display: flex;
  justify-content: center;
  width: 250px;
  margin-left: auto;
  margin-top: 1em;
  margin-right: auto;
}




